
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 5rem;
    
    background-color:rgba(#02010a,0.02);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;   
    color: white; 
}

svg{
    height: 3rem;
    width: 3rem;
}

.git{
filter: invert(1);
}


.lol{
    display: flex;
    justify-content: center;
}

.lol1{
    display: flex;
    justify-content: center;
    align-items: center;

}


.head{
    text-align: center;
    color: aliceblue;
    font-size: 4rem;
}
.head2{
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
    font-weight: 400;
}



@media only screen and (max-width: 450px) {
  
.head{
    font-size: 3rem;
}


}